.public-DraftEditor-content {
    display: block;
    background: white;
    width: 800px;
    height: 600px;
    margin: 0 auto 20px;
    position: relative;
    border: solid 2px #d9d9d9;
    padding: 10px;
}

.inactive {
    display: none;
}

.active {
    display: block;
}
