.font-dropdown {
    cursor: default;
    display: inline-block;
    position: relative;
}

#font-size-menu {
    display: inline-block;
    border: solid 1px transparent;
    width: 40px;
    height: 26px;
    line-height: 1.8;
}

#font-size-menu:hover {
    border-color: #b3b3b3;
}

.font-dropdown div div:hover {
    background: #eee;
}
